/* Ensure no horizontal overflow */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Apply a responsive layout for the body */
.body {
  margin: 0;
  font-family: 'Public sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('https://s3-alpha-sig.figma.com/img/fb83/0fc1/cbea2901c8a86f8288cf1e0c4b3a6139?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kv0ghKHzB~O5IPo-LsJ0K8IeSMAMIUUAf68VowH~uClxD5bk9S-ZwQvFd-71YoWHJ2M4cQpPgHFxarQq4z2kPftMpaALOlS63shVXImObs~UfPd27vi0cIJnU5tl8rMTzKv~zlFAAeESqiCia4C79Q9~XL6WyNaHnRtink3PkSS-vz2yQijFzXswl4TNzxxe8YqR5AsECAISk44R4v7hzwt0wac~UU-eSCd1r8ab85r-B5TsrBMy8O~XVltEO1Vc89d-TufxP0Cvt4RCE8tBVtk4DLdpdcez2Q35by~WropJWt2dUi8oI0CHbG29F2UzpDbfoizv2KMJrbAEP6cxWQ__');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.header {
  height: auto;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.header_text {
  font-weight: 600;
  line-height: 1.2;
  font-size: 3.75rem;
  margin: 0;
  /* width: 100%; */
}

.trans_parent {
  width: 40%;
  height: 85vh;
}

.button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 50px;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.end_button {
  padding: 10px;
  background-color: #fff;
  border-radius: 20%;
  display: block;
  text-align: center;
}

.end_button_text {
  margin-top: 20px;
  display: block;
  color: #000;
  font-size: 12px;
}



/* Responsive layout for transcripts */
.main_trans {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: start;
  /* align-items: center; */
  /* gap: 20px; */
  padding: 20px;
}

/* Styling for microphone container */
/* .mic {
  width: 728px;
  height: 64px;
  margin: 0 auto 20px;
} */

/* Recorder section */
.recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 60%;
}

/* Transcripts styling */
.transcripts {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 492px !important;
  height: 90%;
}

.trans_content {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}

.transcriptItem {
  margin-bottom: 15px;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  width: 100%;
  /* max-width: 397px; */
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.timestamp {
  display: block;
  font-size: 0.7rem;
  color: #616161;
  text-align: right;
}

.transcriptInner {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Media Queries */
/* @media (min-width: 768px) {
  .main_trans {
    flex-direction: row;
    width: 100%;
  }

  .recorder {
  }

  .transcripts {
    margin: 0;
    max-height: 800px;
  }
} */

/* @media (min-width: 481px) {
  .header_text {
    font-size: 2rem;
  }

  .mic {
    height: 50px;
  }

  .button {
    font-size: 0.8rem;
    height: 40px;
  }

  .transcripts {
    max-height: 300px;
  }
} */

/* @media (max-width: 480px) {
  .header_text {
    font-size: 2rem;
  }

  .mic {
    height: 50px;
  }

  .button {
    font-size: 0.8rem;
    height: 40px;
  }

  .transcripts {
    max-height: 100vh;
    width: 100%;
  } 
} 
  */
