/* Ensure no horizontal overflow */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Apply a responsive layout for the body */
.body {
  margin: 0;
  font-family: 'Public sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('https://s3-alpha-sig.figma.com/img/fb83/0fc1/cbea2901c8a86f8288cf1e0c4b3a6139?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kv0ghKHzB~O5IPo-LsJ0K8IeSMAMIUUAf68VowH~uClxD5bk9S-ZwQvFd-71YoWHJ2M4cQpPgHFxarQq4z2kPftMpaALOlS63shVXImObs~UfPd27vi0cIJnU5tl8rMTzKv~zlFAAeESqiCia4C79Q9~XL6WyNaHnRtink3PkSS-vz2yQijFzXswl4TNzxxe8YqR5AsECAISk44R4v7hzwt0wac~UU-eSCd1r8ab85r-B5TsrBMy8O~XVltEO1Vc89d-TufxP0Cvt4RCE8tBVtk4DLdpdcez2Q35by~WropJWt2dUi8oI0CHbG29F2UzpDbfoizv2KMJrbAEP6cxWQ__');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.header {
  height: auto;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.header_text {
  font-weight: 600;
  line-height: 1.2;
  font-size: 3.75rem;
  margin: 0;
  /* width: 100%; */
}

.trans_parent {
  width: 40%;
  height: 85vh;
}

.button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 50px;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.end_button {
  padding: 10px;
  background-color: #fff;
  border-radius: 20%;
  display: block;
  text-align: center;
}

.end_button_text {
  margin-top: 20px;
  display: block;
  color: #000;
  font-size: 12px;
}

.main_trans {
  display: flex;
  align-items: start;
  padding: 20px;
}

.recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 60%;
}

/* Transcripts styling */
.transcripts {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 492px !important;
  height: 90%;
}

.trans_content {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}

.transcriptItem {
  margin-bottom: 15px;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  width: 100%;
  /* max-width: 397px; */
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.timestamp {
  display: block;
  font-size: 0.7rem;
  color: #616161;
  text-align: right;
}

.transcriptInner {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Media Queries */
@media (min-width: 891px) and (max-width: 1300px) {
  .button {
    font-size: 0.9rem;
    height: 40px;
    width: 100%;
  }

  .main_trans {
    display: flex;
    align-items: start;
    padding: 20px;
  }

  /* .recorder {
    flex-wrap:initial;
  } */

  .transcripts {
    margin: 0;
    width: 350px !important;
  }
} 

@media (max-width: 890px) {

  .button {
    font-size: 0.9rem;
    height: 40px;
    width: 100%;
  }

  .main_trans {
    /* display: block; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90% !important;
  } 

  .trans_parent {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
  }

  .transcripts {
    width: 100% !important;
  }

  .recorder {
    margin-bottom: 50px;
  }

}

@media (max-width: 780px) {
  .header_text {
    font-size: 3.5rem;
  }

  .abutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .end_button_text {
    display: none;
  }

  .end_button {
    padding: 10px;
    background-color: #fff;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
  }

  .recorder {
    display: block;
  }

  .button {
    font-size: 0.7rem;
    height: 40px;
    width: 35%;
  }

  .main_trans {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90% !important;
  } 

  .trans_parent {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
  }

  .transcripts {
    width: 95% !important;
  }
} 
 

@media (max-width: 480px) {
  .header_text {
    font-size: 2rem;
  }

  .abutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .end_button_text {
    display: none;
  }

  .end_button {
    padding: 10px;
    background-color: #fff;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
  }

  .recorder {
    display: block;
  }

  :host .canvases {
    min-height: 80px;
  }

  .scroll {
    width: 200px !important;
  }

  .button {
    font-size: 0.7rem;
    height: 40px;
    width: 60%;
  }

  .main_trans {
    /* display: block; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80% !important;
  } 

  .trans_parent {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
  }

  .transcripts {
    width: 100% !important;
  }
} 
 
